<%= form_for(@proaccount) do |f| %>
  <% if @proaccount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proaccount.errors.count, "error") %> prohibited this proaccount from being saved:</h2>

      <ul>
      <% @proaccount.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
