  <tr>
  	<td><%= link_to @service.service_name, @service %></td>

    <td><%= link_to 'Edit', edit_service_path(@service) %></td>
    <td><%= link_to 'Destroy', @service, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>