<% title "Ajouter une image" %>


<h1>photos</h1>

<div id="photo-profil">
<%if current_professional.proaccount.pictures.exists?%>
	<%= image_tag @pictures.image.url(:medium)%>
	 <div class="actions">
      <%= link_to "Modifier", proaccounts_edit_photo_path() %> |
      <%= link_to "Supprimer", @pictures, :confirm => 'Are you sure?', :method => :delete %>
    </div>
<%else%>
<%= render 'form_photo' %>
<%end%>
</div>

